.app-list-item {
  background-color: white;
  border: 1px solid #e7e7e7;
  padding: 8px;
  border-radius: var(--app-border-radius);
  box-shadow: var(--app-shadow-default);
}

.app-list-item p.disabled {
  text-decoration: line-through;
  opacity: 0.5;
}

.app-list-item-toggle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--app-primary-colour-contrast);
}

img {
  width: 100%;
}

button.app-list-item-toggle-button {
  font-weight: 500;
  color: var(--app-primary-colour-contrast);
  background-color: transparent;
  box-shadow: none;
}
