:root {
  --app-primary-colour: #3556AB;
  --app-primary-colour-contrast: #071D55;
  --app-fab-border: #123EB1;
  --app-primary-button-border: #0D2972;
  --app-accent-colour: #AB3535;
  --app-accent-colour-dark: #720D0D;
  --app-success-colour: #53DA69;
  --app-success-colour-dark: #49C25D;
  --app-shadow-default: 0px 4px 4px rgba(0, 0, 0, 0.1);
  --app-text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
  --app-background-colour: #F3F3F3;
  --app-ad-background-colour: #CDE53D;
  --app-ad-background-colour-dark: #9EB031;
  --app-default-padding: 12px;
  --app-border-radius: 6px;
}

body {
  background-color: white;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-body {
  background-color: var(--app-background-colour);
}

header, .app-header {
  height: 15vh;
  padding: var(--app-default-padding);
  background-color: var(--app-primary-colour);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

p, button {
  font-size: 14px;
}

p {
  margin: 0;
}

button {
  width: 100%;
  text-align: center;
  color: white;
  background-color: var(--app-primary-colour);
  padding: var(--app-default-padding);
  border: 2px solid var(--app-primary-button-border); 
  border-radius: 6px;
}

button, .app-list-fab {
  box-shadow: inset 0px 3px 1px rgba(168, 181, 222, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button.app-accent-button {
  background-color: var(--app-accent-colour);
  border-color: var(--app-accent-colour-dark);
}

.disabled, :disabled {
  color: #8D8D8D;
}

.text-shadow {
  text-shadow: var(--app-text-shadow);
}
